<h1>{{title}}</h1>
<p>Welcome  {{title}}</p>
<<<<<<< HEAD
<form action="/student" method="POST" >
    <input type="text" label="FIrst Name" name="fname">
    <input type="submit" label="submit" value="submit" name="submit">
=======
<form action="student/data" method=""POST>
{{!-- <form action="/teacher/data?lname=shviam" method="post"> --}}
    <input type="text" name="fname" label="First Name">
    <input type="submit" name="submit" value="submit">
>>>>>>> f24427ab6611ad565afc5a6867f96ce89c3a8b27
</form>