<h1>{{title}}</h1>
<p>Welcome  {{title}}</p>
<form action="/student" method="POST" >
    <input type="text" label="FIrst Name" name="fname">
    <input type="submit" label="submit" value="submit" name="submit">
</form>